.nav{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: x-large;
    margin: 10px;
    padding:20px;
    background-color: rgb(60, 55, 55);
}
.nav a {
    color:wheat; /* Change this to your desired font color */
    text-decoration: none;
}