/* div,h1{
    Background-color:rgb(198, 100, 165);
    color:chocolate
} */
/* //rgb(169, 198, 100); */
.project {
    padding: 150px;
    /* background-color: cornflowerblue; */
    background-color: darkgray;
    font-size: x-large;
}

.ahk {

    font-size: xx-large;
    justify-content: space-evenly;
}

.loginn {
    /* background-color: cornflowerblue; */
    font-size: x-large;
    background-color: darkgray;
    padding: 100px;
}
